.page-body {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [wide-start] minmax(0, 12ch)
    [text-start] min(48ch, 100%)
    [text-end]   minmax(0, 12ch)
    [wide-end]   1fr
    [full-end];
  width: 100%;
  text-align: left;
  hyphens: none;

  & > * {
    grid-column: text-start / text-end;
  }

  a {
    color: inherit;
  }
}

.col--wide {
  grid-column: wide-start / wide-end;
}

.col--full {
  grid-column: full-start / full-end;
}

.col--text {
  grid-column: text-start / text-end;
}
