.post-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl) var(--space-lg);
}

.post-card__link {
  text-decoration: none;
  color: inherit;

  &:hover .post-card__title {
    color: var(--color-accent);
  }
}

.post-card__title {
  font-weight: normal;
  margin-bottom: 0;
}

.post-card__date {
  display: block;
  font-size: var(--font-size-small);
  margin-bottom: var(--baseline);
}

.post-card__excerpt {
  font-size: var(--font-size-caption);
}

.post-card__thumbnail {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  display: block;
  margin-bottom: calc(var(--baseline) / 2);
}
