<footer class="site-footer">
  <div class="site-footer__inner">
    <p class="site-footer__copy">
      <a href="{{ i18n.nav.home_url }}">Uso Ritual</a>
    </p>
    <p class="site-footer__feed">
      <a href="/{{ lang }}/feed.xml">{{ i18n.feed_title }}</a>
    </p>
  </div>
</footer>
